<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/background.png`)})` }">
    <div class="hero-body is-paddingless">
      <transition enter-active-class="animated fadeIn">
        <img :src="photo" :key="photo" class="president-photo" :alt="`President of ${presidentName}`"/>
      </transition>

      <div class="column is-half is-offset-one-third has-text-centered" style="overflow-y: auto;height: 75vh;">
        <div class="tile is-12 is-vertical" style="padding: 15px;">
          <transition enter-active-class="animated fadeIn">
            <div class="content" :key="selectedSlide">
              <h4 class="is-size-4"><u>{{ slides[selectedSlide].date }}</u></h4>
              <p><i>{{ slides[selectedSlide].question }}</i></p>
              <p>What would you do about Vietnam?</p>
            </div>
          </transition>

          <div class="tile is-12 buttons is-centered">
            <choice :key="button.id" :button="button" :disabled="disableButton(button.id)"
                    v-for="button in buttons" @setActive="setActiveStatus(button.id)"/>
          </div>

          <transition enter-active-class="animated fadeIn">
            <div class="tile is-12 box" :key="isAnswered" v-if="isAnswered">
              <div class="content" :key="selectedSlide">
                <p class="card-text" v-html="selectedOption.answer.text"></p>
              </div>
            </div>
          </transition>

          <transition enter-active-class="animated fadeIn">
            <button class="button is-primary is-pulled-right" :key="isAnswered" @click="nextSlide" v-if="isAnswered">
              Next
            </button>
          </transition>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import Choice from '@/components/Choice'

  export default {
    name: 'activity',
    components: {
      Choice
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.commit('setStatusBar', true)
        next()
      })
    },
    data () {
      return {
        buttons: [
          {
            id: 1,
            name: 'Withdraw',
            isCorrect: false,
            isActive: false
          },
          {
            id: 2,
            name: 'Stay the Course',
            isCorrect: false,
            isActive: false
          },
          {
            id: 3,
            name: 'Escalate',
            isCorrect: false,
            isActive: false
          }
        ],
        arraySelectedOptions: []
      }
    },
    computed: {
      ...mapState(['isAnswered', 'selectedSlide', 'selectedOption', 'slides']),
      ...mapGetters(['presidentPhoto', 'presidentName']),
      photo () {
        return require(`@/assets/images/${this.presidentPhoto}`)
      },
      isCorrect () {
        if (this.selectedOption.answer) {
          return this.selectedOption.answer.correct
        } else {
          return false
        }
      }
    },
    methods: {
      setActiveStatus (id) {
        this.arraySelectedOptions.push(id)

        this.buttons.forEach(button => {
          button.isCorrect = false
        })

        this.buttons[id - 1].isActive = true

        if (this.isCorrect) {
          this.buttons[id - 1].isCorrect = true
        }
      },
      disableButton (id) {
        return this.isCorrect || this.arraySelectedOptions.some(option => option === id)
      },
      nextSlide () {
        if (this.selectedSlide === this.slides.length - 1) {
          this.$router.push('/summary')
        } else {
          this.buttons.forEach(button => {
            button.isCorrect = false
            button.isActive = false
          })

          this.arraySelectedOptions = []
          this.$store.commit('nextSlide')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .hero-body {
    background: rgba(0, 0, 0, 0.1);
  }

  .president-photo {
    position: absolute;
    bottom: 0;
    width: 37.5%;
  }
</style>
