<template>
  <button class="button is-option"
          :class="{ 'is-success': button.isCorrect && button.isActive, 'is-danger': !button.isCorrect && button.isActive }"
          @click="selectOption(button)">

    <i class="fa fa-fw is-size-4" :class="[ button.isCorrect ? 'fa-check-circle' : 'fa-times-circle' ]"
       v-if="button.isActive"></i>
    {{ button.name }}
  </button>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'choice',
    props: {
      button: Object
    },
    computed: {
      ...mapState(['selectedSlide'])
    },
    methods: {
      selectOption (button) {
        const option = {
          type: button.id,
          i: this.selectedSlide
        }

        this.$store.commit('selectOption', option)

        this.$emit('setActive')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .button {
    color: #fff;
    background-color: #161616;
  }
</style>
