<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/background.png`)})` }">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column">
          <h1 class="title">Congratulations!</h1>
          <h2 class="subtitle">You have completed the activity.</h2>
        </div>

        <div class="column is-half is-offset-one-quarter">
          <p class="content">
            {{ summaryQuestion }}
          </p>
        </div>

        <div class="column is-half is-offset-one-quarter is-response" v-for="response in responses">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{ response.name }}</p>
            </header>
            <div class="card-content">
              {{ response.input }}
            </div>
          </div>
        </div>

        <button type="button" class="button is-primary is-print" @click="openPrintDialog">Save/Print PDF</button>
      </div>
    </div>
  </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'conclusion',
    computed: {
      ...mapState(['responses', 'summaryQuestion'])
    },
    methods: {
      openPrintDialog () {
        window.print()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .hero-body {
    background: rgba(0, 0, 0, 0.1);
  }

  .card {
    background-color: rgba(255, 255, 255, 0.25);
  }
</style>
