<template>
  <div class="modal" :class="{ 'is-active' : isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Helping Words</p>
        <button class="delete" aria-label="close" @click="closeModal"></button>
      </header>

      <div class="modal-card-body">
        <div class="column is-half is-offset-one-quarter">
          <div class="buttons">
            <button type="button" class="button is-primary" v-for="word in words"
                    @click="closeModal">
              {{ word.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'helping-words-modal',
    props: {
      words: Array,
      isActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>
