<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/background.png`)})` }">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title">Instruction</h1>

          <p class="is-size-5 content">
            Determine how each event would have influenced the US President's stance on US involvement in
            Vietnam. Three options are available: escalate (e.g. send more troops to Vietnam), stay the
            course (maintain the current level of involvement) or withdraw. Keep in mind the considerations
            that you have learnt about earlier as you make each choice.
          </p>

          <button type="button" class="button is-primary is-large" @click="proceed">Proceed</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'instruction',
    methods: {
      proceed () {
        this.$router.push('/activity')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .hero-body {
    background: rgba(0, 0, 0, 0.1);
  }

  .column {
    > * {
      mix-blend-mode: multiply;
    }
  }
</style>
