<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/background.png`)})` }">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title is-size-1">The Vietnam War</h1>
          <h2 class="subtitle is-size-3">What would you do?</h2>

          <button type="button" class="button is-primary is-large" @click="proceed">Proceed</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'introduction',
    methods: {
      proceed () {
        this.$router.push('/instruction')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .hero-body {
    background: rgba(0, 0, 0, 0.1);
  }

  .column {
    > * {
      mix-blend-mode: multiply;
    }
  }

  .subtitle {
    color: red;
  }
</style>
