<template>
  <div class="columns">
    <div class="column is-one-fifth has-text-centered">
      <figure class="image">
        <img :src="president.photo" :alt="`Photo of President ${ president.name }`"/>
      </figure>

      <p class="is-size-5 has-text-weight-bold is-light">{{ president.name }}</p>
    </div>

    <div class="column">
      <textarea :id="`text-president-${president.id}`" class="textarea has-response" minlength="10"
                :maxlength="characterLimit" placeholder="Write your answer here" @input="onTextChange"
                :data-id="president.id" :data-name="president.name"></textarea>
      <p class="is-pulled-right">
        <span class="has-text-weight-bold has-text-color" :class="[ textLength > 10 ? 'is-green' : 'is-red' ]">
          {{ textLength }}
        </span>
        / {{ characterLimit }} characters</p>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'PresidentSummary',
    props: {
      president: Object
    },
    data () {
      return {
        textLength: 0,
        characterLimit: 500
      }
    },
    computed: {
      ...mapState(['responses'])
    },
    methods: {
      onTextChange (ev) {
        const text = ev.target.value
        const status = text.length > 10

        this.$emit('textChange', this.president, status)

        this.textLength = text.length
      }
    }
  }
</script>

<style lang="scss" scoped>
  .is-light {
    color: #fff;
  }

  .has-text-color {
    &.is-red {
      color: red;
    }

    &.is-green {
      color: green;
    }
  }
</style>
