<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/background.png`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="column is-offset-one-fifth">
          <p class="content is-size-5">
            {{ summaryQuestion }}

            Write down what you have learnt in this activity. Click on the "Helping Words" button if you
            need help.
          </p>
        </div>

        <president-summary :key="president.id" :president="president" v-for="president in presidents"
                           @textChange="textChange"/>

        <div class="buttons is-pulled-right">
          <button class="button is-primary open-modal" @click="openHelpingWordsModal">Helping words</button>

          <button type="button" class="button is-primary is-submit" :disabled="!isOverallCompleted"
                  @click="submitSummary">
            Submit
          </button>
        </div>
      </div>
    </div>

    <helping-words-modal :words="words" :isActive="isActive" @closeModal="closeModal"/>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import PresidentSummary from './PresidentSummary'
  import HelpingWordsModal from './HelpingWordsModal'

  export default {
    name: 'summary-view',
    components: {
      PresidentSummary, HelpingWordsModal
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.commit('clearResponseInput')
        vm.$store.commit('setStatusBar', false)
        next()
      })
    },
    data () {
      return {
        presidents: [
          {
            id: 1,
            name: 'Lyndon B. Johnson',
            photo: require('./../assets/images/president-lyndon-johnson.png'),
            completed: false
          },
          {
            id: 2,
            name: 'Richard Nixon',
            photo: require('./../assets/images/president-richard-nixon.png'),
            completed: false
          }
        ],
        words: [
          {
            id: 1,
            name: 'Elections'
          },
          {
            id: 2,
            name: 'Domestic Reform'
          },
          {
            id: 3,
            name: 'Domino Theory'
          },
          {
            id: 4,
            name: 'Public opinion'
          },
          {
            id: 5,
            name: 'Containment'
          },
          {
            id: 6,
            name: 'Detente'
          }
        ],
        isActive: false
      }
    },
    computed: {
      ...mapState(['summaryQuestion']),
      ...mapGetters(['presidentPhoto']),
      isOverallCompleted () {
        return this.presidents.every(president => president.completed)
      }
    },
    mounted () {
      window.addEventListener('keyup', e => {
        if (e.key === 'Escape') this.isActive = false
      })
    },
    methods: {
      textChange (president, status) {
        const index = this.presidents.indexOf(president)

        this.presidents[index].completed = status
      },
      openHelpingWordsModal () {
        this.isActive = true
      },
      closeModal () {
        this.isActive = false
      },
      submitSummary () {
        const summaries = this.$el.querySelectorAll('.summary-text')
        let arraySummary = []

        Array.from(summaries).forEach(summary => {
          const item = {
            id: summary.id,
            summary: summary.value
          }

          arraySummary.push(item)

          window.localStorage.setItem('summary', JSON.stringify(arraySummary))
        })

        const responseEl = document.querySelectorAll('.has-response')
        let obj = []

        Array.from(responseEl).forEach(response => {
          obj.push({
            id: response.dataset.id,
            name: response.dataset.name,
            input: response.value
          })
        })

        this.$store.commit('setResponse', obj)

        this.$router.push('/conclusion')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .hero-body {
    background: rgba(0, 0, 0, 0.1);
  }
</style>
