<template>
  <div id="app">
    <transition enterActiveClass="animated fadeIn">
      <router-view/>
    </transition>

    <div class="status-bar is-fixed-bottom">
      <div class="container">
        <p class="is-size-3 is-light" v-if="showStatusBar">{{ presidentName }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import config from '../package.json'

  export default {
    name: 'app',
    computed: {
      ...mapState(['version', 'showStatusBar']),
      ...mapGetters(['presidentName'])
    },
    mounted () {
      this.$store.commit('setVersion', config.version)
    }
  }
</script>

<style lang="scss">
  @import 'sass/app.scss';

  body {
    background-size: cover;
    min-height: 100vh;
  }

  .status-bar {
    position: absolute;
    width: 100%;
    color: #fff;
    background-color: #333;
    bottom: 0;
  }

  .button {
    &.is-primary {
      background-color: #161616;

      &.is-active {
        background-color: #408b9e;
      }

      &:hover {
        background-color: #408b9e;
      }

      &[disabled] {
        background-color: #408b9e;
      }

      &:disabled {
        background-color: #408b9e;
      }
    }
  }
</style>
